
#captcha {
  max-height: 200px;
  clip: rect(0, 200px, 0, 200px);
  overflow: hidden;
}

#captcha img {
  margin-bottom: 20px;
}

#main {
}

#main-container div {
  
}

#status {
  overflow: scroll;
  height: 50vh;
}


