extends layout

block content
  script(type="text/javascript").
  h1= title
  form(enctype="multipart/form-data", action="/", method="post")
    input(type="file", name="alerts")
    input(type="submit", value="Submit")

