
#inspect
  h2 This look ok?
  ul.ok
    li
      a.yes(href="/add") Yes
    li
      a.no(href="#") No
  ul.stats
    li There were !{duplicates.length} duplicates
    li !{unique.length} alerts will be added
  ul#alerts
    each alert in unique
      li= alert.join(' ')
